.about {
  padding: 5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__text {
    width: 70%;
  }

  &__pictures {
    width: 20%;
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--pic-container {
      display: flex;
      justify-content: center;
      align-items: flex-end;

      &--pic {
        width: 7rem;
      }
    }
  }
}
