// Color variables
$color-primary: #7c83fd;
$color-primary-light: #96baff;

$color-secondary: #7dedff;
$color-secondary-light: #88fff7;

$color-white: #fff;

$color-grey-dark: #333;
$color-grey-light: #faf9f9;

// Font variables
$font-primary: "Roboto", sans-serif;

// Breakpoint variables
$breakpoint-lg: 57.5em; //920px
$breakpoint-md: 46.875em; //750px
$breakpoint-sm: 40.625em; //650px
$breakpoint-xs: 31.25em; //500px

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $breakpoint-lg) {
    font-size: 50%;
  }
}

body {
  font-family: $font-primary;
  font-weight: 400;
  line-height: 1.6;
  color: $color-grey-dark;
  padding: 5rem;
  min-height: 100vh;

  @media only screen and (max-width: $breakpoint-sm) {
    padding: 0;
  }
}

.container {
  max-width: 100rem;
  margin: 0 auto;
  background-color: $color-grey-light;
  border-radius: 25px;

  @media only screen and (max-width: $breakpoint-md) {
    border-radius: 0;
  }
}
