@import "./_base.scss";

.education {
  position: relative;
  padding: 3rem 5rem;
  height: 50rem;

  &__heading-container {
    display: flex;
    justify-content: space-around;

    &--heading {
      position: relative;
      opacity: 0;
      padding: 6rem 0;
    }
  }

  &__school-container {
    position: relative;
    padding: 3rem 0;
    height: 60%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $breakpoint-xs) {
      flex-direction: column;
      align-items: flex-start;
    }

    &--text {
      opacity: 0;
      position: relative;
      width: 70%;
      @media only screen and (max-width: $breakpoint-md) {
        width: 80%;
      }

      @media only screen and (max-width: $breakpoint-xs) {
        width: 100%;
      }
    }

    &--logo {
      opacity: 0;
      position: relative;
      width: 30%;

      cursor: pointer;

      display: flex;
      justify-content: flex-end;
      opacity: 0;

      filter: grayscale(100%);
      transition: all 0.3s;

      @media only screen and (max-width: $breakpoint-xs) {
        display: none;
      }

      &:hover {
        transform: scale(1.03);
        filter: grayscale(0);
      }

      &--pic {
        width: 23rem;
        margin-right: -1.2rem;

        @media only screen and (max-width: $breakpoint-md) {
          width: 17rem;
          margin-right: -3.2rem;
        }

        @media only screen and (max-width: $breakpoint-xs) {
          margin-right: 0;
        }
      }
    }

    &--link {
      position: relative;
      opacity: 0;

      align-self: center;
      display: none;
      margin-top: 4rem;

      @media only screen and (max-width: $breakpoint-xs) {
        display: block;
      }
    }
  }

  &__certificates-container {
    display: flex;
    justify-content: space-around;

    &--certificate {
      position: relative;
      width: 40%;
      transition: all 0.3s;
      filter: grayscale(100%);

      &:hover {
        transform: scale(1.1);
        filter: none;
      }

      &--pic {
        width: 100%;
      }
    }
  }
}

@include animation-mixin-left(from-left-education, 0, -2rem, 1, 0);
@include animation-mixin-left(out-left-education, 1, 0, 0, -2rem);
@include animation-mixin-top(from-top-education, 0, -2rem, 1, 0);
@include animation-mixin-bottom(from-bottom-education, 0, -1.5rem, 1, 0);
@include animation-mixin-right(from-right-education, 0, -2rem, 1, 0);

.education-animation {
  &__header {
    &--left {
      animation: from-left-education 0.3s forwards;
    }

    &--right {
      animation: from-right-education 0.3s forwards;
    }
  }

  &__text {
    animation: from-left-education 0.3s forwards;
  }

  &__logo {
    animation: from-top-education 0.3s forwards;
  }

  &__link {
    animation: from-bottom-education 0.3s forwards;
  }

  &__certificates {
    animation: from-bottom-education 0.3s forwards;
  }
}

.hidden {
  animation: out-left-education 0.3s forwards;
  display: none;
}

.active {
  display: flex;
}
