*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 57.5em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #333;
  padding: 5rem;
  min-height: 100vh;
}
@media only screen and (max-width: 40.625em) {
  body {
    padding: 0;
  }
}

.container {
  max-width: 100rem;
  margin: 0 auto;
  background-color: #faf9f9;
  border-radius: 25px;
}
@media only screen and (max-width: 46.875em) {
  .container {
    border-radius: 0;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 57.5em) {
  html {
    font-size: 50%;
  }
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #333;
  padding: 5rem;
  min-height: 100vh;
}

@media only screen and (max-width: 40.625em) {
  body {
    padding: 0;
  }
}
.container {
  max-width: 100rem;
  margin: 0 auto;
  background-color: #faf9f9;
  border-radius: 25px;
}

@media only screen and (max-width: 46.875em) {
  .container {
    border-radius: 0;
  }
}
.background-container-1 {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-image: linear-gradient(90deg, rgba(250, 249, 249, 0.75) 0%, rgba(250, 249, 249, 0.75) 100%), url(../img/background/pattern.svg);
  background-size: cover;
}
@media only screen and (max-width: 46.875em) {
  .background-container-1 {
    border-radius: 0;
  }
}

.navigation {
  padding: 3rem 3rem;
  display: flex;
  justify-content: space-between;
}
.navigation__switches {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.navigation__switches--language-slider {
  opacity: 0;
  position: relative;
  animation: from-bottom-navigation 0.3s forwards;
}
.navigation__switches--theme-slider {
  opacity: 0;
  position: relative;
  animation: from-bottom-navigation 0.3s 0.2s forwards;
}

@keyframes from-bottom-navigation {
  0% {
    opacity: 0;
    bottom: -1rem;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}
.header {
  padding: 5rem 0;
  background: transparent;
  display: flex;
  justify-content: center;
}
.header__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__title--picture {
  position: relative;
  border-radius: 25px;
  width: 40%;
  margin-bottom: 5%;
  opacity: 0;
}
.header__title--heading {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
}

@keyframes from-left-header {
  0% {
    opacity: 0;
    left: -4rem;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
@keyframes from-right-header {
  0% {
    opacity: 0;
    right: -4rem;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}
.header-animation__picture {
  animation: from-left-header 0.5s forwards;
}
.header-animation__title {
  animation: from-right-header 0.5s forwards;
}

.about {
  padding: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 46.875em) {
  .about {
    justify-content: center;
  }
}
.about__text {
  position: relative;
  width: 70%;
  opacity: 0;
}
@media only screen and (max-width: 46.875em) {
  .about__text {
    width: 100%;
  }
}
.about__pictures {
  position: relative;
  width: 20%;
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
}
@media only screen and (max-width: 46.875em) {
  .about__pictures {
    display: none;
  }
}
.about__pictures--pic-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.about__pictures--pic-container--pic {
  width: 7rem;
}

@keyframes from-left-about {
  0% {
    opacity: 0;
    left: -2rem;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
@keyframes from-top-about {
  0% {
    opacity: 0;
    top: -2rem;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
.about-animation__text {
  animation: from-left-about 0.5s forwards;
}
.about-animation__pictures {
  animation: from-top-about 0.5s forwards;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 57.5em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #333;
  padding: 5rem;
  min-height: 100vh;
}
@media only screen and (max-width: 40.625em) {
  body {
    padding: 0;
  }
}

.container {
  max-width: 100rem;
  margin: 0 auto;
  background-color: #faf9f9;
  border-radius: 25px;
}
@media only screen and (max-width: 46.875em) {
  .container {
    border-radius: 0;
  }
}

.education {
  padding: 3rem 5rem;
}
.education__heading {
  position: relative;
  opacity: 0;
  padding: 4rem 0;
}
@media only screen and (max-width: 31.25em) {
  .education__heading {
    text-align: center;
  }
}
.education__school-container {
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 31.25em) {
  .education__school-container {
    flex-direction: column;
    align-items: flex-start;
  }
}
.education__school-container--text {
  opacity: 0;
  position: relative;
  width: 70%;
}
@media only screen and (max-width: 46.875em) {
  .education__school-container--text {
    width: 80%;
  }
}
@media only screen and (max-width: 31.25em) {
  .education__school-container--text {
    width: 100%;
  }
}
.education__school-container--logo {
  opacity: 0;
  position: relative;
  width: 30%;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  opacity: 0;
  filter: grayscale(70%);
  transition: all 0.3s;
}
@media only screen and (max-width: 31.25em) {
  .education__school-container--logo {
    display: none;
  }
}
.education__school-container--logo:hover {
  transform: scale(1.03);
  filter: grayscale(0);
}
.education__school-container--logo--pic {
  width: 23rem;
  margin-right: -1.2rem;
}
@media only screen and (max-width: 46.875em) {
  .education__school-container--logo--pic {
    width: 17rem;
    margin-right: -3.2rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .education__school-container--logo--pic {
    margin-right: 0;
  }
}
.education__school-container--link {
  position: relative;
  opacity: 0;
  align-self: center;
  display: none;
  margin-top: 4rem;
}
@media only screen and (max-width: 31.25em) {
  .education__school-container--link {
    display: block;
  }
}

@keyframes from-left-education {
  0% {
    opacity: 0;
    left: -2rem;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
@keyframes from-top-education {
  0% {
    opacity: 0;
    top: -2rem;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@keyframes from-bottom-education {
  0% {
    opacity: 0;
    bottom: -1.5rem;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}
.education-animation__header {
  animation: from-left-education 0.3s forwards;
}
.education-animation__text {
  animation: from-left-education 0.3s 0.5s forwards;
}
.education-animation__logo {
  animation: from-top-education 0.3s 0.5s forwards;
}
.education-animation__link {
  animation: from-bottom-education 0.3s 0.5s forwards;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 57.5em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #333;
  padding: 5rem;
  min-height: 100vh;
}
@media only screen and (max-width: 40.625em) {
  body {
    padding: 0;
  }
}

.container {
  max-width: 100rem;
  margin: 0 auto;
  background-color: #faf9f9;
  border-radius: 25px;
}
@media only screen and (max-width: 46.875em) {
  .container {
    border-radius: 0;
  }
}

.experience {
  padding: 3rem 5rem;
}
.experience__heading {
  padding: 4rem 0;
  position: relative;
  opacity: 0;
}
@media only screen and (max-width: 31.25em) {
  .experience__heading {
    text-align: center;
  }
}
.experience__job-container {
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 31.25em) {
  .experience__job-container {
    flex-direction: column;
    align-items: flex-start;
  }
}
.experience__job-container--text {
  position: relative;
  opacity: 0;
  width: 60%;
}
@media only screen and (max-width: 46.875em) {
  .experience__job-container--text {
    width: 70%;
  }
}
@media only screen and (max-width: 31.25em) {
  .experience__job-container--text {
    width: 100%;
  }
}
.experience__job-container--logo {
  width: 30%;
  position: relative;
  opacity: 0;
  cursor: pointer;
  filter: grayscale(70%);
  display: flex;
  justify-content: flex-end;
  transition: all 0.3s;
}
@media only screen and (max-width: 46.875em) {
  .experience__job-container--logo {
    width: 25%;
  }
}
@media only screen and (max-width: 31.25em) {
  .experience__job-container--logo {
    display: none;
  }
}
.experience__job-container--logo:hover {
  transform: scale(1.03);
  filter: grayscale(0);
}
.experience__job-container--logo--apcom {
  width: 30rem;
  margin-right: -4rem;
}
@media only screen and (max-width: 46.875em) {
  .experience__job-container--logo--apcom {
    width: 24rem;
    margin-right: -6rem;
  }
}
.experience__job-container--logo--samsung {
  width: 27rem;
  margin-right: -3.1rem;
}
@media only screen and (max-width: 46.875em) {
  .experience__job-container--logo--samsung {
    width: 21rem;
    margin-right: -5.1rem;
  }
}
.experience__job-container--logo--airbank {
  width: 23rem;
}
@media only screen and (max-width: 46.875em) {
  .experience__job-container--logo--airbank {
    width: 17rem;
    margin-right: -3.5rem;
  }
}
.experience__job-container--logo--gorentals {
  width: 23rem;
  margin-right: -2.3rem;
}
@media only screen and (max-width: 46.875em) {
  .experience__job-container--logo--gorentals {
    width: 17rem;
    margin-right: -4.3rem;
  }
}
.experience__job-container--link {
  position: relative;
  opacity: 0;
  align-self: center;
  display: none;
  margin-top: 4rem;
}
@media only screen and (max-width: 31.25em) {
  .experience__job-container--link {
    display: block;
  }
}

@keyframes from-left-experience {
  0% {
    opacity: 0;
    left: -2rem;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
@keyframes from-top-experience {
  0% {
    opacity: 0;
    top: -2rem;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@keyframes from-bottom-experience {
  0% {
    opacity: 0;
    bottom: -1.5rem;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}
.experience-animation__header {
  animation: from-left-experience 0.3s forwards;
}
.experience-animation__text {
  animation: from-left-experience 0.3s 0.5s forwards;
}
.experience-animation__logo {
  animation: from-top-experience 0.3s 0.5s forwards;
}
.experience-animation__link {
  animation: from-bottom-experience 0.3s 0.5s forwards;
}

.heading-1 {
  font-size: 6rem;
  font-weight: 900;
  letter-spacing: 0.6rem;
}
@media only screen and (max-width: 31.25em) {
  .heading-1 {
    font-size: 5rem;
  }
}

.heading-2 {
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 0.4rem;
}

.heading-3 {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  line-height: 2.3rem;
  padding-bottom: 0.5rem;
}

.heading-4 {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
}

.heading-5 {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.3rem;
  padding-bottom: 1.5rem;
}

.heading-6 {
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
@media only screen and (max-width: 31.25em) {
  .heading-6 {
    font-size: 1.4rem;
  }
}

.paragraph-1 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.1rem;
  letter-spacing: 0.16rem;
}

.list-1 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.3rem;
  text-decoration: none;
  list-style: none;
}
.list-1 li {
  padding-bottom: 0.6rem;
}

.button-link {
  padding: 1rem 3rem;
  border: 1px solid #333;
  background-color: #faf9f9;
  border-radius: 50px;
  color: #333;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s;
}
.button-link:hover {
  color: #faf9f9;
  background-color: #333;
}/*# sourceMappingURL=main.css.map */